<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/CSS/style.css">
    <title>JM VEICULOS</title>
</head>
<body>
    <nav-bar>
        <a class="logo" href="/">JM Concessionaria </a>
        <ul class="nav-list">
            <li> <a href="/"></a>inicio</li>
            <li> <a href="/"></a>#</li>   
            <li> <a href="/"></a>#</li>
            <li> <a href="/"></a>#</li>
        </ul>
    </nav-bar>
    <main> </main>
</body>
</html>